mixin checkbox()
	+b('label').checkbox&attributes(attributes)
		+e('span').box
			+e('svg')(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.5 11.5").icon
				path(d="M1.25 3.48l2.2 6.77c1.5-3.41 3-6.51 5.8-9").icon-line

		block