$positions-xl: -2.3rem 8.4rem, 12rem -0.4rem, 20rem 15rem, 36.8rem 8.5rem, 53rem 0.2rem, 59rem 13.2rem
$positions-lg: -2.3rem 8.4rem, 9rem -0.4rem, 17rem 15rem, 31rem 8.5rem, 42rem -1.5rem, 49rem 13.2rem
$positions-md: 0rem 0rem, 10rem 11.2rem, 0.7rem 25rem, 12rem 36rem, 0rem 48rem, 14rem 60rem
	
$max-w-xl: rem(180px), rem(190px), rem(150px), rem(180px), rem(150px), rem(220px)
$max-w-md: 12.1rem, 19rem, 14rem, 17rem, 15rem, 16rem

.stages
	$b: &
	position: relative
	z-index: 2

	+media($min: 961px)
		+bg('stages/stages-bg.svg', $size: auto, $position: 105% 50%, $color: $bg-second)
	
	+media(960px)
		background-color: $bg-second

	&__content

	&__title
		text-align: center

		+media(480px)
			text-align: left

	&__wrapper
		+ratio(1170px, 400px)
		width: 100%
		position: relative
		margin-top: rem(90px)
		z-index: 1

		+media(1200px)
			padding-top: 40%
		
		+media(960px)
			padding-top: 0
			+size(29rem, 72rem)
			margin: 5rem auto 0
		
		+media(480px)
			height: 76rem

	&__list

	&__item
		position: absolute
		@extend %show-in-mobile

		@each $posX, $posY in $positions-xl
			$idx: index($positions-xl, $posX $posY)
			&-#{$idx}
				left: $posX
				top: $posY
		
		@for $idx from 1 through length($max-w-xl)
			$max-w: nth($max-w-xl, $idx)
			&-#{$idx}
				.stages__text
					max-width: $max-w

		+media(1200px)
			@each $posX, $posY in $positions-lg
				$idx: index($positions-lg, $posX $posY)
				&-#{$idx}
					left: $posX
					top: $posY

		+media(960px)
			@each $posX, $posY in $positions-md
				$idx: index($positions-md, $posX $posY)
				&-#{$idx}
					left: $posX
					top: $posY
		
			@for $idx from 1 through length($max-w-md)
				$max-w: nth($max-w-md, $idx)
				&-#{$idx}
					.stages__text
						max-width: $max-w
		
		&-1
			.stages__img-wrapper
				&::before, &::after
					border-radius: 50%

				&::before
					right: - rem(14px)
					background: $color-main
			
		&-2
			.stages__img-wrapper
				&::before, &::after
					border-radius: 70% 63% 65% 65%/60% 65% 65% 80%

				&::before
					right: - rem(12px)
					background: $color-third
			
		&-3
			.stages__img-wrapper
				&::before, &::after
					border-radius: 90% 65% 60% 100%/70% 85% 80% 100%

				&::before
					left: - rem(7px)
					top: rem(2px)
					background: $color-second-gray
			
		&-4
			.stages__img-wrapper
				&::before, &::after
					border-radius: 80% 65% 60% 100%/70% 75% 70% 90%

				&::before
					left: - rem(8px)
					top: rem(2px)
					background: $color-main
			 
		&-5
			.stages__img-wrapper
				&::before, &::after
					border-radius: 70% 55% 50% 80%/60% 75% 60% 80%

				&::before
					left: - rem(8px)
					background: $color-second-gray
			
		&-6
			.stages__img-wrapper
				&::before, &::after
					border-radius: 60% 50% 50% 50%/50% 60% 40% 60%

				&::before
					right: - rem(8px)
					background: $color-third
			
	&__img-wrapper
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: center
		position: relative
		z-index: 1
		+size(rem(107px), rem(110px))

		&::before, &::after
			content: ''
			position: absolute
			z-index: -1
			+size(100%)
			display: block

		&::after
			border: 2px solid black
			background: $bg-basic

	&__img
		+size(rem(70px))

	&__text
		font-weight: 600
		color: $color-text-main
		text-align: center
		margin-top: rem(20px)
		@extend %text-14

		+media(640px)
			font-size: 1rem

		+media(480px)
			font-size: 1.2rem

		+media(370px)
			font-size: 1.4rem

	&__line
		fill: none
		stroke: $color-second-gray
		stroke-linecap: round
		stroke-linejoin: round
		stroke-width: 3px
		position: absolute
		top: 0
		left: 4rem
		+size(rem(1003px), rem(348px))
		z-index: -1

		+media($min: 961px)
			> *
				stroke-dashoffset: 1
				stroke-dasharray: 0 20

		+media(1200px)
			left: 0
			width: 95%
		
		+media(960px)
			display: none
	
	&__line-mobile
		display: block
		margin: auto
		+size(60%, 85%)

		+media($min: 481px)
			height: 90%

		+media($min: 961px)
			display: none

	&__dashed-line
		position: absolute
		left: 0
		bottom: 0
		transform: translateY(70%) scaleX(-1)
		+size(15vh, 60vh)
		z-index: -1 
	
	&__infinite
		fill: none
		stroke: $color-main
		stroke-width: 2px
		position: absolute
		top: 0
		+size(rem(147px), rem(82px))

		+media($min: 961px)
			stroke-dasharray: 0 390

		+media($min: 1441px)
			transform: translate(-3rem, 4rem)	
			right: 100%
		
		+media(960px)
			transform: rotate(100deg)
			right: 0
