mixin blog()
  <!--begin blog-->
  +b('section').blog&attributes(attributes)
    .container
      +e.content
        +e('h2').title.title.fade-bottom Читайте наш блог

        +b.blog-slider.swiper-container.__slider.fade-bottom
          +e('ul').list.swiper-wrapper
            each item in getData('blog').list
              +e('li').item.swiper-slide
                +e('a').wrapper(href=item.link)
                  +e.top
                    +e('h3').title !{item.title}
                      
                    +e('div').icon-wrapper
                      +e('img')(src=`assets/images/blog/${item.icon}.svg`).icon
                  
                  +e.bottom
                    +e.date #{item.date}

                    +e.link 
                      +e('span').link-text Подробнее
                      +icon('arrow-right').link-icon
                
        .swiper__buttons.blog-slider__buttons.fade-bottom
          +swiperButton('prev')(aria-label="Показать предыдущий слайд").blog-slider__button-prev
          
          .swiper__paginations.blog-slider__paginations

          +swiperButton('next')(aria-label="Показать следующий слайд").blog-slider__button-next

        +e.line-wrapper
          +e('svg').line(viewBox="0 0 159.63 123.41")
            path(d="M26.84 83.46l-25.34-15.67 20.97-19.05-16.26-35.37 37.4 12.06 5.79-23.93 25.96 23.93 39.63-4.48 6.57 33.89 36.57 28.6-36.85 10.37-10.1 28.1-21.96-24.34-26.49 10.35 4.12-27.52-28.8-19.89 35.7 4.01 23.11-17.15-1.75 23.01")

  <!--end blog-->
    
    