mixin main-present()
	+b.main-present&attributes(attributes)
		+e.icon-wrapper
			+e('svg').icon(viewBox="0 0 61.49 70.85" fill="none")
				path(d="M33.5,21.74a.28.28,0,0,0,.22,0l4.93-2.11a.31.31,0,0,0,.18-.35L36.53,9.7a.3.3,0,0,0-.37-.22L30,11a.34.34,0,0,0-.2.15.31.31,0,0,0,0,.25l3.56,10.18a.32.32,0,0,0,.16.18Zm4.67-2.58L33.78,21l-3.34-9.55L36,10.14Z" fill="#231F20" stroke="black" stroke-width="0.5")
				path(d="M30.13,70.49a.37.37,0,0,0,.23,0L61,55.82a.29.29,0,0,0,.16-.2.28.28,0,0,0,0-.25,122.26,122.26,0,0,1-9-16.31C47.85,29.94,42.57,15.87,41.42.63a.26.26,0,0,0-.11-.21.3.3,0,0,0-.24-.07L.61,7.11a.3.3,0,0,0-.2.12.35.35,0,0,0-.06.24C2.81,21.63,26.88,66,27,66.19a.3.3,0,0,0,.42.07.31.31,0,0,0,.08-.43C27.38,65.65,3.57,21.65,1,7.66L40.84,1c1.2,15.21,6.47,29.22,10.7,38.32a126.45,126.45,0,0,0,8.84,16.09L30.33,69.81,27.4,65.68a.31.31,0,0,0-.43-.07.31.31,0,0,0-.07.43L30,70.38A.33.33,0,0,0,30.13,70.49Z"  stroke="black" stroke-width="0.7")
				+e('g').icon-lines(fill="none" stroke="black" stroke-width="1" stroke-linecap="round")
					path(d="M11.92,22.84c1.4-3.37,2.42-4.31,3.67-4.61,2.9-.69,6.43,2.81,9.79,2.32,2-.29,2.11-2.21,4.26-3.33")
					path(d="M18.35,33.66c.6-3.84,1.75-5,2.69-5.24,1.39-.36,4.7,1.73,6.38,1,.85-.37.4-1.44,1.14-1.79,1.35-.66,3,1.84,4.83,1.54,1.42-.23,1.49-1.77,2.2-2.32s2.06-.29,5.44,1.42")
					path(d="M22.82,40.23a5.46,5.46,0,0,1,2.63-3.13c1.87-.82,5.11.47,7.69.25,2.27-.2,3.44-3.28,5.58-3.69a7.26,7.26,0,0,1,4.75.91")
					path(d="M28.24,50.21c.31-2.71,1-4.35,2.22-4.84s4,1.92,5.08,1.14-.49-3.69.73-4.14c1.61-.58,2.55,2.42,4.07,2.13,2.36-.45,1.93-2.67,3.16-3.26.85-.41,2.33-.19,4.82,2")
					path(d="M29.85,63.07c.19-1.94.77-4.33,2.57-5.46,2.47-1.55,4.82.61,8.37-1,2.24-1,2.33-4.46,4.41-5.57.88-.47,3.12-.65,7.75.4")

			+e.icon-block
				span PDF

		+e.text Узнайте 10 преимуществ колл-центра перед наемным сотрудником прямо сейчас

		+e.arrow-wrapper
			+e('svg').arrow(viewBox="0 0 173.93 166.03" fill="none" stroke="black")
				+e('path')(d="M172.53.5c4.94,20.54-11,52.32-33.56,70.89-37,30.46-76.49,42.94-69,82.15,3.45,18.17,43.57,17.36,38.36-14-2.32-14-24.66-34.15-59.56-23.41C26.9,122.79,18.83,129.44,1,131.61" stroke-linecap="round").arrow-line
				+e('polyline')(points="6.78 134.23 0.99 131.61 5.46 128.39").arrow-pike
		

mixin ui-kit-main-present()
	+ui-section
		+ui-section-head
			+ui-title Блок main-present
			+ui-path
				p Блок: blocks/main-present/main-present
			+ui-description
				p Описание Блока
	
		+ui-section-content()
			+main-present
			
		//- При +ui-section-content(true) контейнер отсутствует
		//- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
		//- Рамка вокруг особой секции: +ui-special()