mixin audit()
  <!--begin audit-->
  +b('section').audit&attributes(attributes)
    .container
      +e.content
        +e.block--text
          +e('h2').title.title.fade-bottom Есть операторы в штате? 
            span.color--main Проведем аудит отдела продаж
          
          +e('p').text.fade-bottom Низкая конверсия кроется в долгих ответах на звонок, не качественной консультации, отсутствии обратного звонка на пропущенный

          +e.img-wrapper.fade-bottom
            +e('img').img(src="assets/images/audit/audit-img.svg" alt="Мужчина в лупе")

        +e.block--form.fade
          +form.--theme--dark.--bg.__form
            +e('h3').title.fade-bottom Записаться на аудит ваших операторов
            +e('p').subtitle.fade-bottom Проведем аудит, внедрим эффективные инструменты, увеличим конверсию

            +form-group.fade-bottom
              +input-wrapper('Контактный номер')

            +form-group.fade-bottom
              +input-wrapper('Ваша почта')
            
            +form-group.fade-bottom
              +button().--size--xl.__button Записаться на аудит

            +e('label').accept.fade-bottom
              +checkbox().--size--md(
                data-form-checkbox=""
                data-false-value="0",
                data-true-value="1",
                data-checkbox-type=""
              )
                p.form__accept-text Я принимаю условия 
                  a(href="#" target="_blank").form__accept-link передачи информации


  <!--end audit-->
    