extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | index'
  
block content

  +main

  +services

  +office

  +results

  +calc

  +stages

  +audit

  +blog

  +questions

  +modal