.main
	$b: &
	padding-top: 90px
	padding-bottom: rem(160px)

	&__wrapper
		margin-top: rem(50px)
		position: relative
		z-index: 1

	&__content
		max-width: rem(550px)

	&__title
		font-size: rem(55px)
		font-weight: 700
		font-family: $font-second
		line-height: 1.2
		margin-top: rem(15px)
	
	&__subtitle
		font-size: rem(18px)
		line-height: 1.5
	
	&__block
		margin-top: rem(40px)
		padding-left: rem(25px)
		display: flex
		align-items: flex-start
		position: relative
	
	&__icon-wrapper
		position: absolute
		left: 0
		top: 0
		height: 100%
		
	&__icon
		+size(3px, 100%)

	&__present
		margin-top: rem(55px)

	&__bottom
		margin-top: rem(50px)
	
	&__button

	&__infinite
		position: absolute
		top: 3.6em
		right: -17em
		+size(rem(122px), rem(95px))
		fill: none
		stroke: $color-main
		stroke-width: 2px
		stroke-dasharray: 0 330
		stroke-dashoffset: 1
	
	&__img-wrapper
		position: absolute
		z-index: -1
		right: - rem(55px)
		bottom: - rem(60px)
	
	&__img
		+size(rem(600px), rem(572px))
	
	&__anim
		position: absolute
		right: 13.5rem
		top: 4rem
		transform: rotate(16deg)
		+size(rem(160px), rem(16px))
		text-align: center
		pointer-events: none

	&__anim-text
		font-size: rem(16px)
		font-weight: 700
		color: $color-text-main
		position: absolute
		+cxy
		display: inline-block
		width: 100%


.main-cloud
	position: absolute
	top: rem(280px)
	left: rem(-300px)

	+media(1440px)
		display: none

	&__icon
		+size(rem(400px), rem(358px))
		fill: $color-border
	
	&__text-block
		position: absolute
		right: 4rem
		top: 2rem
		transform-origin: right
		transform: rotate(-90deg)
		display: flex
		align-items: center

		> * + * 
			margin-left: rem(10px)
	
	&__arrow
		transform: scaleX(-1)
		fill: $color-main
		+size(22px)
	
	&__text
		@extend %text-14
		color: $color-text-second


	