

mixin main()
  <!--begin main-->
  +b('section').main&attributes(attributes)
    .container
      +e.wrapper
        +e.content
          +main-offers

          +e('h1').title Аутсорс Колл-Центр 24/7

          +e.block
            +e.icon-wrapper
              +e('svg')(preserveAspectRatio="none" viewBox="0 0 3 90").icon
                path(d="M1.23909 1.53943e-07L2.99999 0.126411C1.52178 29.9017 1.36866 60.1124 2.5583 89.9017L0.791517 90C-0.398122 60.1334 -0.245003 29.8525 1.23909 1.53943e-07Z")

            +e('p').subtitle
              | Полностью ведем ваш проект уже через 
              span.weight--bold.color--main 5&nbsp;дней от&nbsp;8400&nbsp;₽. 
              | Обучим операторов, заберем на себя задачи. Узнайте наше качество через тестовый период.
          
          +main-present.__present

          +e.bottom
            +button.--size--xl.__button Получить презентацию
        
        +e.img-wrapper
          +img(src="main/main-img.jpg", webp, alt="Девушка оператор перед экраном компьютера").img

          +e.anim
            +e('span').anim-text(data-animation-text='["Добрый вечер!", "Компания CallCell", "Чем могу вам помочь?"]')
        
        +e('svg').infinite(viewBox="0 0 122.29 95.4")
          path(d="M81.7,46.92C94.42,41.46,106,33.64,115.62,20c6.31-10.59,7.42-18.52,3-19-9.73.76-44.79,66.61-75,85C10,110.84-13.35,73.57,11.17,62.8,25.53,54.39,54.16,59.87,81.7,46.92Z" stroke-linecap="round" stroke-linejoin="round")

    +b.main-cloud
      +e('svg')(viewBox="0 0 400 358" ).icon
        path(d="M390.59 179.409c25.37-70.72-7.19-165.379-84.4-178.27-42.73-7.14-90.48 20.35-119.72 52.39-43.57 47.749-43.96 135.42-85.98 178.159-28.65 29.14-76.63 30.27-95.96 61.62-22.89 37.11 45.89 58.77 96.14 62.63 115 8.83 235.97-26.19 289.92-176.53z")
      
      +e.text-block
        +icon("arrow-right").arrow
        +e('p').text Внизу еще интереснее

  <!--end main-->
    
    