mixin article-text()
  <!--begin article-text-->
  +b('section').article-text.fade&attributes(attributes)
    .container
      +e.wrapper
        +e.img-wrapper
          +img(src="article-text/article-text-img.jpg").img
        
        +e.content
          +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      

  <!--end article-text-->
    