mixin toggle()
  +b.toggle(data-menu-toggle)&attributes(attributes)
    +e('span').line
    
mixin ui-kit-toggle()
  +ui-section
    +ui-section-head
      +ui-title Блок toggle
      +ui-path
        p Блок: blocks/toggle/toggle
      +ui-description
        p Описание Блока
  
    +ui-section-content()
      +toggle
      
    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()