
.fade
	opacity: 0

	&-left
		transform: translate3d(-50px, 0, 0)
		opacity: 0

	&-right
		transform: translate3d(50px, 0, 0)
		opacity: 0

	&-top
		transform: translate3d(0, -50px, 0)
		opacity: 0

	&-bottom
		transform: translate3d(0, 20px, 0)
		opacity: 0