mixin call(isNoTitle)
  +b.call&attributes(attributes)
    +e.icon-wrapper
      +e('svg')(viewBox="0 0 24 29" xmlns="http://www.w3.org/2000/svg" fill="none").icon
        +e('path')(fill-rule="evenodd" clip-rule="evenodd" d="M16.799 18.877c-1.167.182-1.292 3.008-2.827 3.277-1.35.236-8.5-6.486-8.653-11.206.038-1.427 2.715-.856 3.179-2.028.464-1.172-.921-6.476-1.816-7.048-.889-.568-4.391.709-5.152 1.891-4.071 3.791.998 13.199 3.492 16.386 6.879 8.785 11.167 8.929 14.41 7.811 1.628-.562 4.068-3.519 3.598-5.119-.285-1.083-3.626-4.749-6.23-3.963z").icon-phone
        +e('path')(d="M14.7079 14.2654C14.6279 14.2654 14.548 14.2462 14.4744 14.2047C14.2442 14.077 14.161 13.7832 14.2889 13.5532C14.5991 12.9944 14.6183 12.4419 14.3401 11.9565C14.0011 11.3593 13.272 10.9729 12.4342 10.9409C12.1687 10.9314 11.9609 10.711 11.9705 10.4459C11.9801 10.1809 12.1975 9.97969 12.4661 9.98289C13.6334 10.0244 14.6727 10.5992 15.1715 11.4838C15.6065 12.2535 15.5905 13.1796 15.1236 14.0195C15.0404 14.176 14.8773 14.2654 14.7079 14.2654Z").icon-line--1
        +e('path')(d="M19.9779 13.7065C19.7125 13.7065 19.4983 13.4925 19.4983 13.2275C19.4983 10.8164 18.7468 8.90027 17.3205 7.68035C15.9646 6.52111 14.0619 6.06444 11.9577 6.39657C11.6955 6.43808 11.4492 6.25925 11.4108 5.99738C11.3693 5.73551 11.5483 5.48961 11.8106 5.45129C14.1962 5.07765 16.3739 5.61096 17.9441 6.95543C19.5878 8.36057 20.4576 10.529 20.4544 13.2307C20.4576 13.4925 20.2434 13.7065 19.9779 13.7065Z").icon-line--2
        +e('path')(d="M23.3804 15.4981C23.3613 15.4981 23.3421 15.4981 23.3197 15.4949C23.0575 15.4629 22.8688 15.2234 22.904 14.9615C23.4348 10.6759 22.4179 6.72232 20.109 4.11323C18.283 2.05023 15.8271 0.95805 13.0065 0.95805C12.7411 0.95805 12.5269 0.744085 12.5269 0.479025C12.5269 0.213965 12.7411 0 13.0065 0C16.0669 0 18.8427 1.23588 20.8285 3.47772C23.3165 6.2912 24.4198 10.5162 23.8569 15.0765C23.8281 15.3192 23.6203 15.4981 23.3804 15.4981Z").icon-line--3
    
    +e.content
      if (!isNoTitle)
        +e('p').title Менеджер Проекта
        
      +e('a')(href="tel:84994906628").phone +7 (499) 490-66-28


mixin ui-kit-call()
  +ui-section
    +ui-section-head
      +ui-title Блок call
      +ui-path
        p Блок: blocks/call/call
      +ui-description
        p Описание Блока
  
    +ui-section-content()
      +call
      
    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()