.call
  display: flex
  align-items: center

  > * + *
    margin-left: 16px

  &__icon-wrapper

  &__icon
    +size(24px, 29px)

  &__icon-phone
    fill: $color-third

  &__icon-line
    fill: #231F20
    animation: opacity 3s ease infinite

    @for $i from 1 through 3
      &--#{$i}
        animation-delay: 0.1s + $i * .1s

  &__title
    color: $color-text-second
    font-size: rem(14px)

  &__phone
    font-size: 20px
    font-family: $font-second
    font-weight: 700

    &:hover
      color: $color-main

@keyframes opacity
  0%
    opacity: 0
    transform: translate(-2px, 2px)
  29%
    opacity: 0
    transform: translate(-2px, 2px)
  39%
    opacity: 1
    transform: translate(0, 0)
  100%
    opacity: 1
    transform: translate(0, 0)
    