mixin article-numb()
  <!--begin article-numb-->
  +b('section').article-numb.fade&attributes(attributes)
    .container
      +e.content
        +e('h2').title.title Результаты

        +e.info
          +e.block--text
            +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            +e('p').text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          +e.block--list
            +e('ul').list
              - var i = 1
              while i < 7
                +e('li').item
                  +e('p').numb 281
                  +e('p').descr Количество лидов в обработку
                
                - i++

  <!--end article-numb-->
    