mixin services()
  <!--begin services-->
  +b('section').services&attributes(attributes)
    .container
      +e.content
        +e('h2').title.title.fade-bottom Выполним ваши задачи по звонкам и продажам
        +e('p').subtitle.fade-bottom Пример наших услуг:

        +e.slider.fade-bottom
          +b.services-slider.swiper-container
            +e('ul').list.swiper-wrapper
              each item in getData('services').list
                +e('li').item.swiper-slide
                  +e.image-wrapper
                    +e('img').image(src=item.img, alt=item.title)
                  +e('h3').heading!= item.title
                  +e('p').descr!= item.text
            
          .swiper__buttons.services-slider__buttons
            +swiperButton('prev')(aria-label="Показать предыдущий слайд").services-slider__button-prev

            +swiperButton('next')(aria-label="Показать следующий слайд").services-slider__button-next

        .swiper__paginations.services-slider__paginations.fade-bottom
          
        +e.bottom.fade-bottom
          +button.--size--xl.__button Заказать услугу
    
        +triangles.__triangles.fade


    - var finger = getData('services')['finger']
    +e.field
      | !{finger}
    
    +dashed-line.__line

  <!--end services-->
    
    