mixin logo()
  +b.logo&attributes(attributes)
    span Call
    span.color--second Cell
    
mixin ui-kit-logo()
  +ui-section
    +ui-section-head
      +ui-title Блок logo
      +ui-path
        p Блок: blocks/logo/logo
      +ui-description
        p Описание Блока
  
    +ui-section-content()
      +logo
      
    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()