mixin tabs()
	+b.tabs__wrapper.swiper-container&attributes(attributes)
		+b('ul').tabs.swiper-wrapper
			block

mixin tab()
	+e('li').item&attributes(attributes)
		block

mixin tabs-content()
	ul.tabs-content&attributes(attributes)
		block

mixin tab-wrapper(isActive)
	li.tabs-content__wrapper(class=isActive ? 'tabs-content__wrapper--active' : '',  data-tab-group=group)&attributes(attributes)
		block


mixin ui-kit-tabs()
	+ui-section
		+ui-section-head
			+ui-title Табы
			+ui-path
				p Блок: blocks/tabs/tabs

		+ui-section-content()
			+tabs
				+tab()(data-tab-target="tab1").--active Информация
				+tab()(data-tab-target="tab2") Контент
				+tab()(data-tab-target="tab3") Тексты
			+tabs-content
				+tab-wrapper()(data-tab="tab1" data-tab-group="testtabs")
					p Это таб 1
				+tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
					p Это таб 2
				+tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
					p Это таб 3

		//- При +ui-section-content(true) контейнер отсутствует
		//- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
		//- Рамка вокруг особой секции: +ui-special()