- var list = ['Статистика по звонкам', 'Аналитика расходов', 'Импорт и экспорт базы', 'Корректировка скриптов в&nbsp;режиме онлайн']

mixin office()
  <!--begin office-->
  +b('section').office#office.fade&attributes(attributes)
    .container
      +e.content
        +e.block
          +e('h2').title.title.fade-bottom Личный кабинет с подробной статистикой 

          +img(src="office/monitor.png", webp, alt="График на мониторе компьютера", size="453, 527").monitor.fade-bottom

          +e('p').text--mt--xl.fade-bottom Наблюдайте за процессом работы в&nbsp;режиме онлайн

          +e.list-wrapper
            +e('ul').list
              each item in list
                +e('li').item.fade-bottom
                  +e('p').descr !{item}
            
            +e.arrow-wrapper
              +e('svg').arrow(viewBox="0 0 41.29 100.83" fill="none")
                +e('path')(d="M29.61.3C56.13,35.07,31,82.09.79,100.3" stroke-linecap="round").arrow-line
                +e('polyline')(points="4.43 92.4 0.79 100.3 11.8 99.95").arrow-pike

          +e.bottom.fade-bottom
            +button(type="button" data-modal-target="price").--size--xl.__button Подробнее о кабинете
          

  <!--end office-->
    