$c-w-border-width: 2px
$c-c-padding: rem(70px)

%calc-wrapper-padding
	padding: $c-c-padding
	
	+media(960px)
		padding: 3rem
	
	+media(640px, 481px)
		padding: 3rem 1rem

.calc
	position: relative
	z-index: 1

	+media($min: 1201px)
		+bg('calc/calc-bg.svg', $size: auto)


	&__content

	&__title
		text-align: center

	&__tabs
		margin-top: rem(70px)
		padding-bottom: 0.6rem

		+media(1200px)
			max-width: 45rem

		+media(480px)
			padding-bottom: 0.8rem
			margin-top: 3rem

	&__tabs-content
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		background-color: $bg-basic

		> *
			flex-grow: 1

	&__wrapper
		margin-top: 1.9rem
		display: flex
		justify-content: space-between
		position: relative
		border-radius: 5px
		border: $c-w-border-width solid $color-border

		+media(1200px)
			flex-direction: column
			max-width: 45rem
			margin: 1.9rem auto 0

	&__form
		background-color: $color-third
		width: rem(470px)
		flex-shrink: 0
		margin: (-$c-w-border-width) (-$c-w-border-width) (-$c-w-border-width) 0
		@extend %calc-wrapper-padding

		+media(1200px)
			width: 100%
		
		+media(480px)
			margin: 0

	&__slide
		display: flex
		flex-direction: column
		@extend %calc-wrapper-padding

		&--mobile

			&--pb
				+media(480px)
					padding-bottom: 7rem

	&__header
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		min-height: rem(25px)

		&:not(:last-child)
			margin-bottom: rem(10px)

	&__subtitle
		color: $color-text-second
		@extend %text-14

	&__accent
		font-family: $font-second
		font-weight: 700
		@extend %text-18

	&__block
		height: 100%
		display: flex
		flex-direction: column

	&__list
		display: flex
		flex-wrap: wrap
		align-items: flex-end
		margin: rem(-50px) rem(-30px) rem(40px)

		+media(640px)
			margin: -2.5rem -0.5rem 2.5rem

		&--min
			max-width: 55%

			+media(480px)
				max-width: 100%

	&__item
		margin: rem(50px) 0 0
		padding: 0 rem(30px)
		position: relative

		+media(640px)
			margin-top: 2.5rem
			padding: 0 0.5rem

		&--min
			width: 50%

			+media(480px)
				width: 100%

		&--max
			width: 100%

		&--df
			display: flex
			align-items: center

			> * + *
				margin-left: rem(30px)

				+media(640px)
					margin-left: 1.5rem

		&--aie
			align-items: flex-end

		&--ais
			align-items: flex-start
		
		&--mobile

			&--fdc
				+media(480px)
					flex-direction: column
					align-items: flex-start

					> * + *
						margin-left: 0
						margin-top: 1rem

			&--oe
				+media(480px)
					order: 1

	&__item-block
		// flex-shrink: 0

		&--max
			flex-grow: 1
			min-width: 50%
	
		&[disabled]
			opacity: 0.6
			pointer-events: none

		&--mobile

			&--posa
				+media(480px)
					position: absolute
					right: 0
					top: 100%
					margin-top: 1rem

	&__checkboxes
		display: flex
		align-items: center

		+media($min: 641px)
			> * + *
				margin-left: rem(30px)

		+media(640px)
			flex-direction: column
			align-items: flex-start

			> * + *
				margin-top: 0.5rem

	&__bottom
		margin-top: auto
		display: inline-flex
		align-items: center
		position: relative
	
		> * + *
			margin-left: rem(40px)

			+media(640px)
				margin-left: 1.5rem
			
			+media(480px)
				margin-left: 0
				margin-top: 1rem
		
		+media(480px)
			flex-direction: column
			align-items: flex-start

	&__anno
		@extend %text-14
		color: $color-text-second

		+media($min: 481px)
			position: absolute
			bottom: -3rem
			left: 0
			margin: 0
			transform: translateY(-20px)

		+media($min: 961px)
			bottom: -$c-c-padding
		
		+media($min: 1201px)
			transform: translateY(30px)
		
		+media(480px)
			max-width: 18rem
			margin-top: 1rem

	&__text
		@extend %text-16
		font-weight: 600
		color: $color-text-main

		&--max
			
			&--md
				max-width: rem(130px)

			&--xl
				max-width: rem(240px)

				+media(480px)
					max-width: 25rem
		
		&--color
			color: $color-main
	
	&__price
		@extend %text-40
		color: $color-text-main

	&__price-numb
		font-family: $font-second
		font-weight: 700

	&__price-symb
		font-size: rem(20px)
		top: -0.7em
	
	&__img-wrapper
		position: absolute
		bottom: 0
		right: -2rem
		font-size: 0
		z-index: -1

		+media(480px)
			right: -$container-padding - 2px

	&__img
		display: inline-block
		+size(rem(410px), rem(594px))

		+media(1200px)
			+size(20rem, 28.9rem)
		
		+media(480px)
			+size(20rem, 22.2rem)

	&__arrow
		position: absolute
		+size(rem(172px), rem(82px))
		fill: none
		stroke: black
		margin: 0
		left: 24rem
		top: -1rem

		+media(1200px)
			+size(9rem, 4.5rem)
			left: 25rem
			top: 1rem
			transform: scaleY(-1) rotate(-30deg)
		
		+media(960px, 481px)
			+size(7rem, 3.5rem)
		
		+media(640px)
			left: 75%
		
		+media(480px)
			transform: scaleY(-1) rotate(-50deg)
			top: 4rem
			left: 60%
			+size(12rem, 7rem)

	&__phone-wrapper
		position: absolute
		bottom: 0
		right: 80%
		+size(rem(350px), rem(520px))
		z-index: -1

		+media(640px)
			display: none

	&__phone
		+size(100%)
		opacity: 0

	&__phone-beeps
		+size(100%)
		position: absolute
		top: 0
		right: 0

	&__phone-beep
		stroke-width: 2px
		stroke: $color-third
		fill: none
		stroke-dasharray: 0 170

	&__checkbox-text
		line-height: 1
		color: $color-text-gray
		transition: $ease-main
		padding: 3px 0
		text-decoration: underline

		&--normal
			font-size: 14px

		&--bold
			font-family: $font-second
			font-weight: 700
			@extend %text-18
		
		.checkbox--active &
			color: $color-text-main
			text-decoration: none
