$q-arrow-duration: 0.5
$q-arrow-delay: 3

%mobile-text
  +media(960px)
    &::before
      content: attr(data-text)

.questions
  position: relative
  padding: 0

  +media($min: 481px)
    +bg('questions/questions-bg.svg', $position: 90% 50%, $size: rem(148px) rem(325px), $color: $color-main)
  
  +media(480px)
    background-color: $color-main

  &__content
    padding: rem(100px) 0
    display: flex
    position: relative
    z-index: 1

    +media(960px)
      flex-direction: column
      align-items: center
      padding-bottom: 0

    +media(640px)
      padding-top: 4rem

  &__block

    &--text
      max-width: rem(460px)

      > * + *
        margin-top: rem(40px)

      +media(960px)
        max-width: 30rem

    &--img
      font-size: 0

      +media(960px)
        position: relative
        margin-top: 2rem

  &__title
    color: $color-text-light

    +media(960px)
      text-align: center

  &__text
    color: $color-text-light
    @extend %text-18

  &__form
    width: rem(330px)
    
    +media(960px)
      width: 100%
    
    +media(640px)
      margin-top: 3rem

  &__img
    position: relative
    display: inline-block
    +size(rem(706px), rem(606px))

    +media($min: 961px)
      z-index: -1
      position: absolute
      right: 0
      bottom: 0
      transition-duration: 0.5s

    +media(1200px)
      +size(35rem, 30rem)

    +media(640px)
      +size(29rem, 25rem)
    

    img
      +fill-img
  
  &__subblock
    position: absolute
    left: 28.7rem
    top: 23.6rem
    z-index: 9

    +media(1200px)
      left: 25rem
      top: 25rem
    
    +media(960px)
      left: 0
      top: auto
      bottom: 3rem

  &__arrow-wrapper
    position: absolute
    left: 2rem
    bottom: 100%
  
  &__arrow
    +size(rem(95px), rem(42px))
    fill: none
    stroke: $color-text-light

  &__arrow-line

    +media($min: 961px)
      stroke-dasharray: 0 120
      stroke-dashoffset: 1

  &__arrow-pike

    +media($min: 961px)
      opacity: 0

  &__name
    @extend %text-24
    font-family: $font-second
    font-weight: 700
    color: $color-third
    line-height: 1.2
    display: table-caption
    @extend %mobile-text

    +media(960px)
      font-size: 0

    &::before
      @extend %text-24

  &__descr
    @extend %text-14
    color: $color-text-gray
    margin-top: rem(5px)
    display: table-caption
    @extend %mobile-text

    +media(960px)
      font-size: 0

    &::before
      @extend %text-14

  &__triangles
    +size(rem(150px), rem(470px))
    position: absolute
    left: -20rem
    +cy
    fill: $color-text-light
