mixin questions()
  <!--begin questions-->
  +b('section').questions&attributes(attributes)
    .container
      +e.content
        +e.block--text
          +e('h2').title.title.fade-bottom Остались вопросы?
          +e('p').text.fade-bottom Оставьте номер телефона и получите консультацию от нашего руководителя

          +form.--theme--light.__form
            +form-group.fade-bottom
              +input-wrapper('Контактный номер')
            
            +form-group.fade-bottom
              +button().--size--xl.__button Оставить телефон

            +e('label').accept.fade-bottom
              +checkbox().--size--md(
                data-form-checkbox=""
                data-false-value="0",
                data-true-value="1",
                data-checkbox-type=""
              )
                p.form__accept-text Я принимаю условия 
                  a(href="#" target="_blank").form__accept-link передачи информации

        +e.block--img
          +img(src="questions/lera.png", webp).img.fade

          +e.subblock
            +e.arrow-wrapper
              +e('svg').arrow(viewBox="0 0 97.47 42.17")
                +e('path')(d="M.47,42.31C14.14,3.43,55.41-5.51,96,8.53" stroke-linecap="round").arrow-line
                +e('path')(d="M88.13,10.42a52.37,52.37,0,0,1,8.34-1.66L89.88.31").arrow-pike

            +e('p').name
            +e('p').descr
    

        +triangles.__triangles.fade

  <!--end questions-->
    
    