mixin footer()
  <!--begin footer-->
  +b('footer').footer.fade&attributes(attributes)
    +e.top
      .container
        +e.content
          +logo.__logo

          +e('ul').list
            each item in getData('footer').list
              +e('li').item
                if item.link
                  +e('a').wrapper(href=item.link, target='_blank', rel="noreferrer" )
                    +icon(item.icon).__icon(width="25" height="25")
                    +e('p').text #{item.text}
                else
                  +e('div').wrapper
                    +icon(item.icon).__icon(width="25" height="25")
                    +e('p').text #{item.text}
          
          +call(true).__call
      
    +e.bottom
      .container
        +e.bottom-content
          +e('a').link(href="#" target="_blank") Политика конфиденциальности

  <!--end footer-->
    
    